<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!-- The PDF file to show on display. Simply update the file to update the display. -->
    <add key="PdfFilePath" value="C:\set\your\path\here.pdf" />
    
    <!-- Polling interval in seconds. "0" disables polling. -->
    <add key="PollingInterval" value="60"/>

    <!-- Scroll speed in 3px per x ms -->
    <add key="ScrollSpeed" value="25"/>

    <!-- The amount of ms the program waits before jumping to the top again -->
    <add key="PauseTime" value="2500"/>
    
    <!-- The time at which the display will be turned on -->
    <add key="DisplayStartTime" value="07:00"/>

    <!-- The time at which the display will be turned off -->
    <add key="DisplayStopTime" value="18:00"/>
    
    <!-- Should displays be active on weekends -->
    <add key="ActiveOnWeekends" value="true"/>
  </appSettings>
</configuration>