<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!-- A directory containing multiple PDF files that will show up on this display. -->
    <!-- Simply update its contents to change the current announcements. -->
    <add key="PdfDirectoryPath" value="C:\set\your\path\here" />

    <!-- TODO: documentation missing. Increasing this value slows down scolling. -->
    <!-- TODO: The fastest setting "1" is awfully slow. -->
    <add key="ScrollSpeed" value="1"/>

    <!-- The amount of ms the program waits before jumping to the top again -->
    <add key="PauseTime" value="2500"/>
    
    <!-- The amount of ms the program waits before continuing after an error is being displayed. -->
    <!-- This setting does NOT apply if no PDF files are available. Use EmptyPollingDelay instead. -->
    <add key="ErrorDisplayDelay" value="5000" />

    <!-- The amount of ms the program waits before retrying if no PDF files are available. -->
    <add key="EmptyPollingDelay" value="30000" />
  </appSettings>
</configuration>