<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!-- A directory containing multiple PDF files that will show up on this display. -->
    <!-- Simply update its contents to change the current announcements. -->
    <add key="PdfDirectoryPath" value="C:\set\your\path\here" />

    <!-- Scroll speed, the smaller the slower, 10-40 recommended -->
    <add key="ScrollSpeed" value="25"/>

    <!-- The amount of ms the program waits before showing the next file -->
    <add key="PauseTime" value="2500"/>
    
    <!-- The minimum time (in ms) a single document is visible on the screen. Important for small PDFs.  -->
    <add key="MinDisplayTime" value="10000"/>

    <!-- Always on "true" will overwrite Start and Stop time -->
    <add key="DisplayAlwaysOn" value="false"/>
    
    <!-- The time at which the display will be turned on -->
    <add key="DisplayStartTime" value="07:00"/>

    <!-- The time at which the display will be turned off -->
    <add key="DisplayStopTime" value="18:00"/>
    
    <!-- Should displays be active on weekends -->
    <add key="ActiveOnWeekends" value="true"/>
    
    <!-- The amount of ms the program waits before continuing after an error is being displayed. -->
    <!-- This setting does NOT apply if no PDF files are available. Use EmptyPollingDelay instead. -->
    <add key="ErrorDisplayDelay" value="5000" />

    <!-- The amount of ms the program waits before retrying if no PDF files are available. -->
    <add key="EmptyPollingDelay" value="30000" />
  </appSettings>
</configuration>